<!--This template is used for displaying user profile info with an embedded chatbot window,
tied to -->

<div class="user-profile-card">
  <md-card class="user-profile-card-width">
    <md-content class="user-profile-allinfo">
      <div flex="100" flex-sm="100" flex-xs="100" layout="column">
        <p>Name: {{main.cur_user_details.first_name}} {{main.cur_user_details.last_name}}</p>
        <p>State of Residence: {{main.cur_user_details.state_of_res}}</p>
        <p>Insurance Plan: {{main.cur_user_details.insurance_plan_name}}</p>
        <md-button class="md-raised md-primary" id="btn1" style="width:100%; margin: 5px 5px;" ng-click="main.to_logout()">Log Out</md-button>
        <p ng-if="main.logging_out_msg">{{main.logging_out_msg}}</p>
      </div>
    </md-content>
  </md-card>
</div>
