.user-profile-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.user-profile-card-width{
  width: 50%;
}

.user-profile-allinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

#btn1{
  background-color: lightskyblue;
}
