@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

.form-container{
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-toolbar-tools{
  background-color: lightskyblue;
}

#btn1{
  background-color: lightskyblue;
}

#login-fail{
  color: red;
}

#LoginContent {
  width: 425px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {

  #LoginContent {
    padding: 5vh 30vw 15vh 30vw;
    height: 100%;
  }
  #formHeading {
    padding: 10px;
  }
}
