@charset "UTF-8";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

.home-container{
  height: 100vh;
  width: 100vw;
  padding: 0vh 30vw 15vh 30vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero h1 {
  color: white;
  font-weight: 300;
  text-align: center; }

.hero h3 {
  color: white;
  font-weight: 200;
  text-align: center;  }

.hero h5 {
  color: white;
  font-weight: 200;
  text-align: center;  }

#btn-home{
  background-color: lightskyblue;
}

.md-toolbar-tools{
  background-color: lightskyblue;
}

#btn1{
  background-color: lightskyblue;
}

#login-fail{
  color: red;
}

#login-success{
  color: green;
}

#DevLoginContent {
  width: 425px;
  height: 425px;
  background-color: white;
  border-radius: 4px;
}

@media only screen and (max-width: 600px) {

  #DevLoginContent {
    padding: 5vh 30vw 15vh 30vw;
    height: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .hero h1 {
    text-align: center;}
  .hero h3 {
    text-align: center;}
  .hero h5 {
    text-align: center; } }
