<!--Registration HTML Template-->
<div class="form-container" flex layout="column">
  <!--<div flex layout="column">-->
    <md-content id="RegContent" class="md-whiteframe-10dp" flex-sm>
      <md-toolbar flex id="formHeading">
        <div class="md-toolbar-tools"><span flex=""></span> <span class="md-headline" align="center">
          Registration Form</span> <span flex=""></span> </div>
      </md-toolbar>

      <div layout-padding="">
        <div>
            <p id="error-msg" ng-if="main.registration.failed_msg">{{main.registration.failed_msg}}</p>
            <p id="success-msg" ng-if="main.registration.success_msg">{{main.registration.success_msg}}</p>
        </div>
        <form name="userForm">
        <!--<form name="userForm" method="POST" action="" ng-submit="user.submit(userForm.$valid)" enctype="multipart/form-data">-->
          <!--<input type="hidden" name="action" value="signup" />-->
          <div layout="row" layout-sm="column">
            <md-input-container flex-gt-sm="">
              <label>First name</label>
              <input ng-model="main.registration.user.first_name" name="first_name" required type="text" ng-pattern="/^[a-zA-Z'. -]+$/" placeholder="">
              <!--<div ng-if="userForm.first_name.$dirty" ng-messages="userForm.first_name.$error" role="alert">-->
                <!--<div ng-message="required" class="my-message">First Name is Required.</div>-->
                <!--<div ng-message="pattern" class="my-message">Enter correct First Name.</div>-->
              <!--</div>-->
            </md-input-container>
            <md-input-container flex-gt-sm="">
              <label>Last Name</label>
              <input ng-model="main.registration.user.last_name" name="last_name" required type="text" ng-pattern="/^[a-zA-Z'. -]+$/" placeholder="">
              <!--<div ng-if="userForm.last_name.$dirty" ng-messages="userForm.last_name.$error" role="alert">-->
                <!--<div ng-message="required" class="my-message">Last Name is Required.</div>-->
                <!--<div ng-message="pattern" class="my-message">Enter correct Last Name.</div>-->
              <!--</div>-->
            </md-input-container>
          </div>
          <!--<div layout="row" layout-sm="column">-->
            <!--<p style="font-size: 12px; margin-left: 3px; margin-top: 18px;">Gender: </p>-->
            <!--<input type="hidden" name="gender" value="{{user.gender}}" />-->
            <!--<md-radio-group style="margin: 12px 0 19px;" ng-model="user.gender" required>-->
              <!--<md-radio-button value="Male" class="md-primary">Male</md-radio-button>-->
              <!--<md-radio-button value="Female">Female</md-radio-button>-->
            <!--</md-radio-group>-->
            <!--<md-input-container flex-gt-sm="60">-->
              <!--<label>Age</label>-->
              <!--<input required type="number" step="any" name="age" ng-model="user.age" min="13" max="100" placeholder="20" />-->
              <!--<div ng-if="userForm.age.$dirty" ng-messages="userForm.age.$error" role="alert" multiple>-->
                <!--<div ng-message="required">Age is Required.</div>-->
                <!--<div ng-message="min">Only Above 13 years Old are allowed.</div>-->
                <!--<div ng-message="max">Sorry {{userForm.age.$viewValue}} years old are not Allowed.</div>-->
              <!--</div>-->
            <!--</md-input-container>-->
          <!--</div>-->
          <div layout="row" layout-sm="column">
            <md-input-container flex-gt-sm="">
              <label>Email</label>
              <input required type="email" name="email" ng-model="main.registration.user.email" ng-pattern="/^[_a-z0-9-+]+(\.[_a-z0-9-+]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required placeholder="someone@example.com" />
              <!--<div ng-if="userForm.email.$dirty" ng-messages="userForm.email.$error" role="alert">-->
                <!--<div ng-message="required" class="my-message">Email Address is Required.</div>-->
                <!--<div ng-message="pattern" class="my-message">Enter Correct Email Address. </div>-->
                <!--<div ng-message="email" class="my-message">Enter Correct Email Address. </div>-->
              <!--</div>-->
            </md-input-container>
          </div>

          <div layout="row" layout-sm="column">
            <md-input-container flex-gt-sm="">
              <label>New Password</label>
              <input name="password" ng-model="main.registration.user.password" type="password" minlength="5" maxlength="100" required placeholder="********">
              <!--<div ng-if="userForm.password.$dirty" ng-messages="userForm.password.$error" role="alert" multiple>-->
                <!--<div ng-message="required">Password is Required.</div>-->
                <!--<div ng-message="pattern">Password should contain at least one number, one lowercase and one uppercase character.</div>-->
                <!--<div ng-message="minlength">Password should be greater than 8 letters.</div>-->
                <!--<div ng-message="maxlength">Password Can't be more than 100 letters.</div>-->
              <!--</div>-->
            </md-input-container>
            <md-input-container flex-gt-sm="">
              <label>Confirm Password</label>
              <input name="confmPassword" type="password" ng-model="main.registration.user.confmPassword" minlength="5" maxlength="100" required compare-to="main.registration.user.password" placeholder="********">
              <div ng-messages="userForm.confmPassword.$error" role="alert">
                <!--<div ng-message="required">Confirm Password is Required.</div>-->
                <div ng-message="compareTo">Password Doesn't Match.</div>
              </div>
            </md-input-container>
          </div>

          <div layout="row" layout-sm="column">
            <md-input-container flex-gt-sm="">
              <label>State of Residence</label>
              <md-select ng-model="main.registration.user.state" required placeholder="Select a State">
                <!--<md-option><em>None</em></md-option>-->
                <md-option ng-repeat="state in main.registration.states" ng-value="state">
                  <!-- ng-disabled="$index === 1" Can use this line in tag to disable any state not yet available based on index #-->
                  {{state}}
                </md-option>
              </md-select>
            </md-input-container>

            <!--TODO: convert this field to dropdown menu similar to states, dependent on state of residence and/or company-->
            <md-input-container flex-gt-sm="">
              <label>Insurance Plan</label>
              <input required type="text" name="insurancePlan" ng-model="main.registration.user.insurance_plan" required placeholder="e.g. Aetna PPO 7700" />
            </md-input-container>
          </div>

          <div layout="row" layout-sm="column">
            <md-input-container>
              <md-checkbox aria-label="I have read and agree to the Terms of Service and Privacy Policy." ng-model="main.registration.user.terms" name="terms" required ng-required="true" tabindex="9">
                <span>I agree to the Terms of Service and Privacy Policy.</span>
              </md-checkbox>
              <!--<div ng-show="userForm.terms.$touched && regForm.terms.$invalid" ng-messages="regForm.terms.$error">-->
                <!--<div ng-show="regForm.terms.$error.required" ng-message="required">Required.</div>-->
              <!--</div>-->
            </md-input-container>
          </div>

          <div layout="row" layout-sm="column">
            <md-button class="md-raised md-primary" id="btn1" style="width:100%; margin: 5px 5px;" ng-click="main.registration.submit()" ng-disabled="userForm.$invalid" name="submit">Sign Me Up!</md-button>
            <md-button class="md-raised md-primary" id="btn1" style="width:100%; margin: 5px 5px;" ng-click="main.registration.cancel()" name="cancel">Cancel</md-button>
          </div>
        </form>
      </div>
    </md-content>
  <!--</div>-->
</div>
